# Client ID and secret for Services
SPOTIFY_CLIENT_ID=<SPOTIFY_CLIENT_ID>
SPOTIFY_SECRET_ID=<SPOTIFY_SECRET_ID>

GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_SECRET_ID=<GITHUB_SECRET_ID>

REDDIT_CLIENT_ID=<REDDIT_CLIENT_ID>
REDDIT_SECRET_ID=<REDDIT_SECRET_ID>

DISCORD_CLIENT_ID=<DISCORD_CLIENT_ID>
DISCORD_SECRET_ID=<DISCORD_SECRET_ID>
DISCORD_BOT_TOKEN=<DISCORD_BOT_TOKEN>

FACEBOOK_CLIENT_ID=<FACEBOOK_CLIENT_ID>
FACEBOOK_SECRET_ID=<FACEBOOK_SECRET_ID>

TWITCH_CLIENT_ID=<TWITCH_CLIENT_ID>
TWITCH_SECRET_ID=<TWITCH_SECRET_ID>

GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_SECRET_ID=<GOOGLE_SECRET_ID>

DROPBOX_CLIENT_ID=<DROPBOX_CLIENT_ID>
DROPBOX_SECRET_ID=<DROPBOX_SECRET_ID>

MICROSOFT_CLIENT_ID=<MICROSOFT_CLIENT_ID>
MICROSOFT_SECRET_ID=<MICROSOFT_SECRET_ID>

OPEN_WEATHER_API_KEY=<OPEN_WEATHER_API_KEY>